/CloudSwyft.Web.Api/bin/
/CloudSwyft.Web.Api/Areas/
/CloudSwyft.Web.Api/Content/ConvertedViewer/Presentation
/CloudSwyft.Web.Api/Content/FileRepository
/CloudSwyft.Web.Api/Content/Heartbeat
/CloudSwyft.Web.Api/Content/Recording
/CloudSwyft.Web.Api/Migrations
/CloudSwyft.Web.Api/obj/
/CloudSwyft.Web.Api/Properties/
/CloudSwyft.Web.Api/Results/
/CloudSwyft.Web.Api/SQL/
/CloudSwyft.Web.Api/CloudSwyft.Web.Api.csproj.user
/CloudSwyft.Web.Api/CloudSwyft.Web.Api.csproj.vspscc
/.vs/CloudSwyft.Azure

/CloudSwyft.Web.Api/Web.config

/.vs/CloudLabsAPI/v16
/.vs
