@{
    ViewBag.Title = "Register";
}

@section scripts{

    <script src="~/app_minified/RegisterPage/app-register.min.js"></script>
    <script src="~/app_minified/RegisterPage/registerController.min.js"></script>

}

<div class="container-fluid" ng-app="app-register">
    <div ng-view></div>
</div>
