<div class="panel-modal-content panel-outline-content no-overflow">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><i class="glyphicon glyphicon-remove close" aria-hidden="true"></i></button>
        <div>
            <span class="panel-modal-title">Lab Grade</span>
        </div>
    </div>

    <div class="modal-body">
        <span class="panel-modal-title">{{(name)}}</span>
        <div>
            <div class="modal-inner-box-grant" style="overflow-y: auto; height: 30em; display: flex; overflow-x: hidden; flex-wrap: wrap;">
                <div  ng-show="thumbnail.length > 0"  ng-repeat="image in thumbnail  track by $index" class="image-view-container">
                    <!--<div ng-show="loading" class="loading-block-grant">
                        <img class="sizeImg" src="../../../Content/Image/loading2.gif" />
                    </div>-->
                    <div class="sabaw" ng-click="imageView(image)" style="cursor: pointer; display: flex; padding: 0; flex-direction: column; align-items: center;">
                        <div>
                            <img ng-src="{{image}}" />
                        </div>
                        <span title="{{imageName(image)}}" class="course-grade-image-name">{{imageName(image)}}</span>
                    </div>
                </div>
                <div ng-show="thumbnail.length == 0" style="color:white;">
                    NO IMAGE AVAILABLE
                </div>

            </div>
        </div>        
    </div>
</div>
<style>
    .sabaw {
        margin-bottom: 5%;
    }

        .sabaw img {
            max-height: 100px;
            max-width: 100%;
            min-height: 100px;
        }
</style>